# Build and Release Folders
public/buid/
node_modules/

# Other files and folders
src/lib/

# Executables


# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
